{% extends 'index.html' %}
{% block content %}

   

    <div class="row grid-responsive">
        <div class="column ">
            <!--<div class="card">
                <div class="card-title">
                    <h3>New Purchase Order</h3>
                </div>
                <div class="card-block">
                    <form action="/po/add/" method="POST">
                     {% csrf_token %}
                        <fieldset>
                            <label for="nameField">Purchase Order Number</label>
                            {{ form.pono}}
                            <label for="ageRangeField">PO Date</label>
                            {{ form.podate}}
                            <label for="commentField">Select Vendor</label>
                            {{ form.vendor}}
                            <label for="commentField">Remarks</label>
                            {{ form.remarks}}
                            <input class="button-primary" type="submit" value="Submit">
                        </fieldset>
                    </form>
                </div>
            </div>-->
            <div class="card">
                <div class="card-title">
                    <h3>Product Detail</h3>
                </div>
                <div class="card-block">
                    <form action="/pod/add/" method="POST" >
                        {% csrf_token %} 
                        <tr>
                            <td>{{formd.product}}</td>
                            <td>{{formd.poqty}}</td>
                            <td>{{formd.rate}}</td>
                            <td><input class="button-primary" type="submit" value="Submit"></td>
                        </tr>
                        <input type="hidden" value="1" name="purchaseorder" />
                    </form>

                    <table>
                        <thead>
                            <th>Product</th>
                            <th>Qty</th>
                            <th>Rate</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                    </tbody>    
                    </table>                     
                </div>
            </div>
        </div>
    </div>



{% endblock content %}
